<div class="card text-center">
                <div class="card-header">
               <b>Reference Number: </b> {{ request_obj.reference_ID }}<br />
              <b>Status:  </b>  {{ request_obj.status}}
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ request_obj.url }}</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>



                {% if request_obj.status == "approved" %}
                        <ul class="list-group list-group-flush mx-4">
                                        <li class="list-group-item"><b>Total Price:</b> {{ request_obj.price }} <br />
                                                {% if request_obj.downpayment_paid is False %}
                                                         <b>Downpayment Amount:</b> 30% of the total price of the item
                                                {% else %}
                                                       <b> Amount Owed:</b> {{ request_obj.remaining_amount }}
                                                {% endif %}

                                        </li>

                        </ul>
                {% else %}
                <ul class="list-group list-group-flush mx-4">
                                <li class="list-group-item"><b>Total Price:</b> <i>{{ request_obj.status }} </i><br />
                                <b>Amount Owed:</b> <i>{{ request_obj.status }}</i></li>
                </ul>
                {% endif %}



                <a href="{{ request_obj.get_absolute_url }}" class="btn btn-primary">View Details</a>


                {% if request_obj.status == "approved" %}
                        <a href="{% url 'request:add' slug=request_obj.slug %}" class="btn btn-success">Make A Payment</a>
                {% endif %}


                {% if is_admin %}
                <a href="{% url 'request:update' slug=request_obj.slug %}" class="btn btn-info">Update Request</a>
                {% endif %}

                </div>
                <div class="card-footer text-muted">
                        last updated 2 days ago
                </div>
        </div>